:root {
    --color-1: #549690;
    --color-2: #CCEAE9;
    --color-3: #89AAA9;
    --color-4: #81CFCD;
    --color-5: #057B78;
    --color-6: #5DBFC1;
    --color-7: #FFFFFF;

    --white: rgb(195, 195, 195);
    --black: #303030;
}

* {
    /* --padding: 20px; */
    box-sizing: border-box;

    -ms-touch-action: manipulation; touch-action: manipulation
}

body {
    margin: 0;
    background-color: black;
}

#wrapper {
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

#ui_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    padding: var(--padding);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    z-index: 1000;
    top: 0;
    pointer-events: none;
    padding: 20px;
}

#ui_container svg {
    height: 100%;
    width: 100%;
    fill: var(--white);
}

#ui_container svg path {
    fill: var(--white);
}

.hidden {
    display: none !important;
}

dialog {
    overflow-y: hidden;
}

dialog, iframe, #dialog_modal_container {
    touch-action: manipulation;
}