* {
    /*user-select: none;*/
    box-sizing: border-box;
}

body {
    /* padding: 20px; */
    margin: 0;
    height: 100vh;
    height: 100svh;
    background-color: white;
    /* color: rgb(44, 44, 44); */
}

#winning_screen {
    display: grid;
    place-items: center;
    font-size: clamp(20px, 5vw, 30px);
}

h1 {
    user-select: none;
    margin: 0;
    text-align: center;
    color: #057B78;
}

img {
    height: 75px;
    width: 100px;
    transition: left 100ms, top 100ms;
    position: absolute;
}