* {color: #549690; font-family: "Jolly Lodger", system-ui; letter-spacing: 4px;}

body {
    margin: 0;
    height: 100vh;
    background-color: #CCEAE9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h1,
h2 {
    margin: 0;
    font-size: 20px;
}

#wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#instructions {
    text-align: center;
}

#scoreBoard {
    display: flex; gap: 25px;
}

#wrapper > #wordQueue {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 50%;
    font-size: 21px;
}

#wordQueue > .queuedWord {
    display: none;
}

#wrapper > #playerInput {
    height: 30px;
    width: 200px;
    font-size: 16px;
    font-family: "Crimson Text", serif;
}

.selected {
    font-family: "Crimson Text", serif;
    display: grid;
    background: #CCEAE9;
    place-items: center;
    font-weight: bold;
    text-decoration: underline dotted;
}
